$default-size: 50%;
$sm-size: 40%;
$md-size: 30%;
$lg-size: 20%;
$bump: 1.5%;
.menu--modal-overlay.menu--modal-overlay {
    padding: 0;
}

.menu.menu {
    transition: all 0.15s;
}

.menu.menu.active {
    left: $default-size + $bump;

    @media (min-width: $sm-breakpoint) {
        left: $sm-size + $bump;
    }
    @media (min-width: $md-breakpoint) {
        left: $md-size + $bump;
    }
    @media (min-width: $lg-breakpoint) {
        left: $lg-size + $bump;
    }
}

.menu--modal-container.menu--modal-container {
    margin: 0 0 auto 0;
    width: $default-size;

    @media (min-width: $sm-breakpoint) {
        width: $sm-size;
    }
    @media (min-width: $md-breakpoint) {
        width: $md-size;
    }
    @media (min-width: $lg-breakpoint) {
        width: $lg-size;
    }
}

.menu--card.menu--card.menu--card {
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    background: initial;

    .card-subtitle,
    .card-content {
        padding: 0;
    }

    .card-title {
        padding: 0 3%;
    }
}
